.DisplayTasks{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.DisplayTasks > div{
    text-align: center;
    height: 99vh;
    padding:0 5vh;
    font-size: 2vh;
}