.DisplayTasks{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.DisplayTasks > div{
    text-align: center;
    height: 99vmax;
    padding:0 5vh;
    font-size: 2vh;
}

.DisplayTasks > div:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}