.Button{
    background-color: rgb(0, 160, 67);
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: large;
    display: inline-block;
    text-align: center;

    margin: 1vh 1vw;
    width:4vw;
    height: 3vh;

}

.Button:hover{
    background-color: white;
}