body{
    height: 98vmax;
    width: 98vw;
    background-image: linear-gradient(to bottom right, rgb(43, 5, 131), rgb(103, 22, 134), rgba(179, 0, 179, 0.644));
    background-size:cover;
    color:white;
}